
.project
.settings/.jsdtscope
.settings/org.eclipse.wst.jsdt.ui.superType.container
*.prefs
force.json
force.json
salesforce.schema
.settings/org.eclipse.wst.jsdt.ui.superType.name
.vscode/settings.json
DeployStatistics.log
force.json.orig
